{% extends 'main.html' %}

{% block content %}

{% load static %}

<div class="outer">
  <div class="container-header">

    <h1>Upload Files Below</h1>

  </div>
</div>

<div class="outer">
  <div class="container-body">

    <div class="input-group">
      <input type="file" id="fileInvoice" name="file" class="form-control" aria-describedby="inputGroupFileAddon04"
        aria-label="Upload" required>
      <input type="file" id="fileTemplate" name="file" class="form-control" aria-describedby="inputGroupFileAddon04"
      aria-label="Upload" required>

      <button class="btn btn-outline-secondary" onclick="upload()" id="inputGroupFileAddon04">upload</button>
    </div>

  </div>
</div>

<div class="outer">
  <div class="container-result-image">
    <img src="" id="result-image" width="400"></img>
  </div>
</div>


{% endblock %}

{% block scripts %}

<script type="text/javascript" src="{% static 'js/main.js' %}"></script>

{% endblock %}