{% extends 'main.html' %}

{% block content %}

{% load static %}

<link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/style.css' %}">

<div id="body-wrap">
  <div id="aside-left">
  </div>

  <div id="center-wrap">
    <div id="upload-wrap">
      <label class="upload-wrap">
        <input type="file" id="image_input" accept="image/png">
        <img src="{% static "images/upload_icon.png" %}" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" alt="Squarespace Websites Uploader" data-noaft="1" style="width: 200px; height: 200px; margin: 0px;">
      </label>
    </div>
    
    <canvas id="canvas" tabindex="1" width="200" height="200" hidden></canvas>
  </div>

  <div id="aside-right">
    <div id="aside-background-container">


      <div id="about" hidden>
        <h2>How to use</h2>
        <ul>
          <li>
            Use cursor to create rectangles of the areas to be extracted by the OCR application. In addition arrow and numpad arrow keys can be used to move/resize the
            current rectangle. Pressing 'P' creates a copy of the last added rectangle, which can then be manipulated with the controls. 
          </li>
          <li>
            Name the item that describes the rectangle. Filtered words can be filled with words that are not desired to be extracted.
          </li>
          <li>
            Press the "Add" button when satisfied with the rectangle. Rectangles can be removed in the order in which they were added by pressing the "Undo" button. 
          </li>
          <li>
            Pressing the "Save" button will generate a json file containing all of the rectangle locations that can be used by the OCR application.
          </li>
        </ul>
      </div>

      <div class="input-container">
        <div class="key-input-container">
          <label for="keyName" id="keyNameLabel" hidden>Key name: </label>
          <input name="Key name" type="text" maxlength="256" id="keyName" hidden/>
        </div>
        
        <div class="key-input-container">
          <label for="filteredWords" id="filteredWordsLabel" hidden>Filtered words: </label>
          <input name="Filtered words" type="text" maxlength="256" id="filteredWords" hidden/>
        </div>
        
      </div>
      
      <div id="button-wrap">
        <button id="add" onclick="CanvasModule.add()" hidden>Add</button>
        <button id="undo" onclick="CanvasModule.undo()" hidden>Undo</button>
        <button id="download" onclick="CanvasModule.onDownload()" hidden>Save</button>
      </div>
    </div>
  </div>
</div>




{% endblock %}

{% block scripts %}

<!-- <script type="text/javascript" src="{% static 'js/main.js' %}"></script> -->
<script type="text/javascript" src="{% static 'js/load_img.js' %}"></script>

{% endblock %}