* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-direction: column;
}

#image_input {
    display: none;
}

#image_display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 6px 12px;
    cursor: pointer;
}

